In [1]:
import pandas as pd
import csv
import numpy as np

In [2]:
df = pd.read_csv('SambanisImp.csv')
cols = list(df.columns)
df.head()

,cowcode,year,warstds,ptime,yrint,autonomy,rf,popdense,auto98,dem98,...,decade1,decade2,decade3,decade4,independ,tip,anocracy,proxregc,sxpnew.2,sxpsq.2
0,700,1945,0,12,0,0.005151,35.481968,118.554791,3.963861,3.975114,...,0,0,0,0,1,17.0,0,0.143299,0.094095,0.094095
1,700,1946,0,24,1,0.000000,35.419919,117.756342,3.964334,3.951079,...,0,0,0,0,1,18.0,0,1.000000,0.094547,0.094547
2,700,1947,0,36,2,0.000000,35.407984,118.280656,3.973155,3.940862,...,0,0,0,0,1,19.0,0,1.000000,0.095567,0.095567
3,700,1948,0,48,3,0.000000,35.429719,118.325869,3.982209,3.929385,...,0,0,0,0,1,20.0,0,1.000000,0.101303,0.101303
4,700,1949,0,60,4,0.000000,35.400103,118.312296,3.973679,3.949860,...,0,0,0,0,1,21.0,0,1.000000,0.092107,0.092107

## Geographic Extension

In [4]:
cow_df = pd.read_csv('cow.csv')
geo_codes = {}

for index, row in cow_df.iterrows():
    region = row['region']
    if region not in geo_codes:
        geo_codes[region] = [row['cow']]
    else:
        geo_codes[region].append(row['cow'])

### Africa

In [5]:
afr_cow = geo_codes['AFR']
with open('afr_tr.csv', mode='w') as csv_tr, open('afr_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            cow = row['cowcode']
            if cow in afr_cow:
                if np.random.rand() < 7:
                    tr_writer.writerow(row)
                else:
                    test_writer.writerow(row)

### Middle East

In [6]:
me_cow = geo_codes['ME']
with open('me_tr.csv', mode='w') as csv_tr, open('me_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            cow = row['cowcode']
            if cow in me_cow:
                if np.random.rand() < 7:
                    tr_writer.writerow(row)
                else:
                    test_writer.writerow(row)

### Americas

In [7]:
am_cow = geo_codes['CAM'] + geo_codes['SAM'] + geo_codes['NAM']
with open('am_tr.csv', mode='w') as csv_tr, open('am_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            cow = row['cowcode']
            if cow in am_cow:
                if np.random.rand() < 7:
                    tr_writer.writerow(row)
                else:
                    test_writer.writerow(row)

### Europe

In [8]:
eur_cow = geo_codes['EUR']
with open('eur_tr.csv', mode='w') as csv_tr, open('eur_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            cow = row['cowcode']
            if cow in eur_cow:
                if np.random.rand() < 7:
                    tr_writer.writerow(row)
                else:
                    test_writer.writerow(row)

### Asia and Oceania

In [9]:
asia_cow = geo_codes['ASI'] + geo_codes['SEA'] + geo_codes['OCE']
with open('asia_tr.csv', mode='w') as csv_tr, open('asia_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            cow = row['cowcode']
            if cow in asia_cow:
                if np.random.rand() < 7:
                    tr_writer.writerow(row)
                else:
                    test_writer.writerow(row)

## Temporal Extension

### Split by "Decades"
We split the dataset in "decades" (approximately):
- 1945-1959
- 1960-1969
- 1970-1979
- 1980-1989
- 1990-2000

In [3]:
with open('temp_data/decade1.csv', mode='w') as csv_file:
        writer = csv.writer(csv_file)
        writer.writerow(cols)
        for index, row in df.iterrows():
            year = int(row['year'])
            if year <= 1959 and year >= 1945:
                writer.writerow(row)

In [4]:
with open('temp_data/decade2.csv', mode='w') as csv_file:
        writer = csv.writer(csv_file)
        writer.writerow(cols)
        for index, row in df.iterrows():
            year = int(row['year'])
            if year <= 1969 and year >= 1960:
                writer.writerow(row)

In [5]:
with open('temp_data/decade3.csv', mode='w') as csv_file:
        writer = csv.writer(csv_file)
        writer.writerow(cols)
        for index, row in df.iterrows():
            year = int(row['year'])
            if year <= 1979 and year >= 1970:
                writer.writerow(row)

In [6]:
with open('temp_data/decade4.csv', mode='w') as csv_file:
        writer = csv.writer(csv_file)
        writer.writerow(cols)
        for index, row in df.iterrows():
            year = int(row['year'])
            if year <= 1989 and year >= 1980:
                writer.writerow(row)

In [7]:
with open('temp_data/decade5.csv', mode='w') as csv_file:
        writer = csv.writer(csv_file)
        writer.writerow(cols)
        for index, row in df.iterrows():
            year = int(row['decade4'])
            if year == 1:
                writer.writerow(row)