In [1]:
import pandas as pd
import csv

In [2]:
df = pd.read_csv('SambanisImp.csv')
cols = list(df.columns)
df.head()

,cowcode,year,warstds,ptime,yrint,autonomy,rf,popdense,auto98,dem98,...,decade1,decade2,decade3,decade4,independ,tip,anocracy,proxregc,sxpnew.2,sxpsq.2
0,700,1945,0,12,0,0.005151,35.481968,118.554791,3.963861,3.975114,...,0,0,0,0,1,17.0,0,0.143299,0.094095,0.094095
1,700,1946,0,24,1,0.000000,35.419919,117.756342,3.964334,3.951079,...,0,0,0,0,1,18.0,0,1.000000,0.094547,0.094547
2,700,1947,0,36,2,0.000000,35.407984,118.280656,3.973155,3.940862,...,0,0,0,0,1,19.0,0,1.000000,0.095567,0.095567
3,700,1948,0,48,3,0.000000,35.429719,118.325869,3.982209,3.929385,...,0,0,0,0,1,20.0,0,1.000000,0.101303,0.101303
4,700,1949,0,60,4,0.000000,35.400103,118.312296,3.973679,3.949860,...,0,0,0,0,1,21.0,0,1.000000,0.092107,0.092107

## Geographic Extension

In [41]:
cow_df = pd.read_csv('cow.csv')
geo_codes = {}

for index, row in cow_df.iterrows():
    region = row['region']
    if region not in geo_codes:
        geo_codes[region] = [row['cow']]
    else:
        geo_codes[region].append(row['cow'])

cow            615
country    Algeria
region         AFR
Name: 0, dtype: object

### Africa

In [52]:
afr_cow = geo_codes['AFR']
with open('afr_tr.csv', mode='w') as csv_tr, open('afr_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            cow = row['cowcode']
            if cow not in afr_cow:
                tr_writer.writerow(row)
            else:
                test_writer.writerow(row)

### Middle East

In [53]:
me_cow = geo_codes['ME']
with open('me_tr.csv', mode='w') as csv_tr, open('me_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            cow = row['cowcode']
            if cow not in me_cow:
                tr_writer.writerow(row)
            else:
                test_writer.writerow(row)

### Americas

In [66]:
am_cow = geo_codes['CAM'] + geo_codes['SAM'] + geo_codes['NAM']
with open('am_tr.csv', mode='w') as csv_tr, open('am_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            cow = row['cowcode']
            if cow not in am_cow:
                tr_writer.writerow(row)
            else:
                test_writer.writerow(row)

### Europe

In [61]:
eur_cow = geo_codes['EUR']
with open('eur_tr.csv', mode='w') as csv_tr, open('eur_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            cow = row['cowcode']
            if cow not in eur_cow:
                tr_writer.writerow(row)
            else:
                test_writer.writerow(row)

### Asia and Oceania

In [67]:
asia_cow = geo_codes['ASI'] + geo_codes['SEA'] + geo_codes['OCE']
with open('asia_tr.csv', mode='w') as csv_tr, open('asia_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            cow = row['cowcode']
            if cow not in asia_cow:
                tr_writer.writerow(row)
            else:
                test_writer.writerow(row)

## Temporal Extension

### 1945-1965 Test Set

In [69]:
with open('1_tr.csv', mode='w') as csv_tr, open('1_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            year = int(row['year'])
            if year >= 1965:
                tr_writer.writerow(row)
            else:
                test_writer.writerow(row)

### 1965-1985 Test Set

In [70]:
with open('2_tr.csv', mode='w') as csv_tr, open('2_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            year = int(row['year'])
            if year >= 1985 or year < 1965:
                tr_writer.writerow(row)
            else:
                test_writer.writerow(row)

### 1985-2000 Test Set

In [71]:
with open('3_tr.csv', mode='w') as csv_tr, open('3_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            year = int(row['year'])
            if year < 1985:
                tr_writer.writerow(row)
            else:
                test_writer.writerow(row)

### Split by Decades

In [14]:
with open('decade1_tr.csv', mode='w') as csv_tr, open('decade1_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            year = int(row['year'])
            if year <= 1969 and year >= 1960:
                test_writer.writerow(row)
            else:
                tr_writer.writerow(row)

In [10]:
with open('decade2_tr.csv', mode='w') as csv_tr, open('decade2_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            year = int(row['year'])
            if year <= 1979 and year >= 1970:
                test_writer.writerow(row)
            else:
                tr_writer.writerow(row)

In [11]:
with open('decade3_tr.csv', mode='w') as csv_tr, open('decade3_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            year = int(row['year'])
            if year <= 1989 and year >= 1980:
                test_writer.writerow(row)
            else:
                tr_writer.writerow(row)

In [12]:
with open('decade4_tr.csv', mode='w') as csv_tr, open('decade4_test.csv', mode='w') as csv_test:
        tr_writer = csv.writer(csv_tr)
        test_writer = csv.writer(csv_test)
        tr_writer.writerow(cols)
        test_writer.writerow(cols)
        for index, row in df.iterrows():
            year = int(row['decade4'])
            if year == 1:
                test_writer.writerow(row)
            else:
                tr_writer.writerow(row)